fastapi[all]
SQLAlchemy
psycopg2==2.9.1
alembic
passlib[argon2]
pydantic
email-validator
uvicorn
celery
boto3
pytest
httpx
anyio
twisted
faker
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
service_identity